extends layout

block content
    .subcontainer
        h1 Profile
        - if (user.local != 'undefined')
            p user.local                
        p
            a(href='/logout') logout
block footer
        h3 footer
