extends _layout

block content
    .row
        h1
            span.fa.fa-sign-in.fa-fw 
            | Create a local account

        .third
            include ./forms/_register
        .twothirds
            :markdown
                ## Why create a local account?

                Bacon ipsum dolor amet elit labore laboris, andouille ut capicola turducken pancetta pork cillum magna exercitation. 
                Laborum swine ut et ullamco, cupidatat **meatball shankle fatback**. Deserunt elit excepteur landjaeger pork loin ullamco consectetur eiusmod. 
                Ex sausage enim turkey minim. Reprehenderit ham swine irure brisket in shankle. Pancetta duis ut est aliquip bacon.

                Strip steak anim tempor filet mignon aliquip ut pork belly nulla culpa chicken frankfurter duis enim sunt venison. 
                T-bone cow ipsum ball tip sirloin kevin aliquip exercitation rump in ribeye biltong pork belly sint. 
                Biltong ut sunt drumstick cupim. In corned beef cupidatat cupim frankfurter ball tip irure elit.