@import '_settings.styl'

+html5-inputs()
	input($d)
	margin-left 1em
	

form input
	input($d)
	margin-left 1em


form label
	label()
	min-width 120px
	text-align right
	+below(rupture.mobile-cutoff)
		display none		

form .field
	field(left, 100%)

form input[type='submit']
	glossy-button: $d 'large'


form .field.error
	field-error: $r