

// Axis for useful mixins
@import '../../node_modules/axis/axis'

// Jeet for responsive
@import '../../node_modules/jeet/stylus/jeet'

@import '../../node_modules/rupture/rupture'
//rupture.enable-em-breakpoints = true

// font-awesome
@import '../../node_modules/font-awesome-stylus/stylus'

normalize-base()
normalize-html5()

//debug()

@require '_settings'
@require '_forms'
@require '_layout'


body
	line-height 1.35em


#container
	center(100%)

#nav
	nav($size: 2, $bg-color: $b, $pos-fxed: true, $link-color: $r)
	+tablet()
		stack()
		nav($size: 2, $bg-color: $b, $pos-fxed: false, $link-color: $r)
#logo
	height 100%
	float left

#flash		

	.info
		flash()
	.warn
		flash: 'warning'
	.error
		flash: 'error'
	.success
		flash: 'success'


#content
	center(85%)
	+below(rupture.desktop-cutoff)
		center(100%)
		



#footer 
	fixed bottom
