- if (flash && flash.success && flash.success.length > 0)
  each m in flash.success 
    p.success
        i.fa.fa-thumbs-o-up.fa-lg.fa-fw
        =m

- if (flash && flash.info && flash.info.length > 0)
  each m in flash.info
    p.info
        i.fa.fa-smile-o.fa-lg.fa-fw
        =m

- if (flash && flash.warning && flash.warning.length > 0)
  each m in flash.warning
    p.warn
        i.fa.fa-exclamation-circle.fa-lg.fa-fw
        =m

- if (flash && flash.error && flash.error.length > 0)
  each m in flash.error 
    p.error
        i.fa.fa-thumbs-o-down.fa-lg.fa-fw
        =m