ul
    li 
        a(href='#') Item1
    li 
        a(href='#') Item2
    li
        a(href='#') Item3
    li 
        a(href='#') Item4
    li 
        a(href='#') Item5
    li 
        a(href='#') Item6
    li 
        a(href='#') Item7
