$w = #F8F8F8
$g = #EEEEEE
$r = #EE0000
$d = #CC0000 
$b = #111111


// font-awesome
@import '../../node_modules/font-awesome-stylus/stylus'

// Axis for useful mixins
@import '../../node_modules/axis/axis'

// Jeet for responsive
@import '../../node_modules/jeet/stylus/jeet'

@import '../../node_modules/rupture/rupture'
rupture.enable-em-breakpoints = true

@import 'forms.styl'

normalize-base()
normalize-html5()

debug()

.fa
	margin 0.5em
	color $r

body
	line-height 1.35em

#container
	center(100%)


#nav
	nav($size: 2, $bg-color: $b, $pos-fxed: true, $link-color: $r)
	+tablet()
		stack()
		nav($size: 2, $bg-color: $b, $pos-fxed: false, $link-color: $r)
#logo
	height 100%
	float left

#flash		
	p
		margin 0
	span
		margin-right .75em
	.info
		flash()
	.warn
		flash: 'warning'
	.error
		flash: 'error'
	.success
		flash: 'success'


#content
	area()
	center(85%)
	+below(rupture.desktop-cutoff)
		center(100%)
		
.subcontainer
	center(100%)

.half
	col(1/2)
	+mobile()
		col(1)
.twothirds
	col(2/3)
	+below(rupture.desktop-cutoff)
		col(1)
.onethird
	col(1/3)
	+below(rupture.desktop-cutoff)
		col(1)
.quarter
	+desktop()
		col(1/4)
	+tablet()
		col(1/2, uncycle:4, cycle:2)



.threequarters
	col(3/4)
	+below(rupture.desktop-cutoff)
		col(1/2)

#footer 
	fixed bottom
