extends layout

block subcontent    
        :markdown
            This is the club page. 

        p
            a(href='/login') Login
        p
            a(href='/register') Register

block footer
        h3 footer